# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Django
*.sqlite3
db.sqlite3
*.log

# Virtual environments
env/
.env
.venv/

# Node / React
node_modules/
package-lock.json
npm-debug.log

package.json
theme/static_src/package.json
node_modules/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
