{% extends 'main.html'%} {% block content %}
<h1>Room Template</h1>
{{room.name}}

<br />
{{room.description}}

<div class="comment-wrapper">
  <h3>Conversation</h3>
  <hr />

  {% for roomMessage in roomMessages %}
  <div>
    <small>
      @{{roomMessage.user}}
      <br />
      {{roomMessage.created|timesince}} ago
    </small>
    <p>{{roomMessage.body}}</p>
  </div>
  {% empty%} No Messages Here.. {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
  <form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="body" placeholder="Write your message here..." />
  </form>
</div>
{% endif %} {% endblock content %}
