{% extends 'main.html'%} {% block content %}

<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>
<div class="room-container">
  <div>
    <h1>{{room.name}}</h1>

    <br />
    {{room.description}}

    <div class="comment-wrapper">
      <h3>Conversation</h3>
      <hr />

      {% for roomMessage in roomMessages %}
      <div>
        {% if request.user == roomMessage.user %}
        <a href="{% url 'deleteMessage' roomMessage.id %}">Delete</a>
        {% endif %}
        <small>
          <a href="{% url 'userProfile' roomMessage.user.id %}">
            @{{roomMessage.user}}
          </a>
          <br />
          {{roomMessage.created|timesince}} ago
        </small>
        <p>{{roomMessage.body}}</p>
      </div>
      {% empty%} No Messages Here.. {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form method="POST" action="">
        {% csrf_token %}
        <input
          type="text"
          name="body"
          placeholder="Write your message here..."
        />
      </form>
    </div>
    {% endif %}
  </div>
  <div>
    <h3>Participants</h3>

    {% for user in participants %}
    <div>
      <p>@{{user.username}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
